/**
 * @filename    : style_login.css
 * @author      : 한송희 (onee.ssong@gmail.com)
 * @description : Grandjeju 로그인 페이지의 스타일 적용 코드 모음
 */

@charset "UTF-8";

/** ---------- ALL ---------- */
body {
    width: 360px;
    margin: 0 auto;
}

body::-webkit-scrollbar {
    display: none;
}

/** ---------- wrap ---------- */
#wrap {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    height: 740px;
}

#wrap::-webkit-scrollbar {
    display: none;
}

/** ---------- HEADER ---------- */
#header {
    width: 360px;
    padding: 10px 0;
    border-width: 350px;
    border-bottom: 1px solid gray;
}

#header .hamburger_icon {
    width: 30px;
    height: 30px;
}

#header .hamburger_icon img {
    display: block;
    float: left;
    height: 30px;
    width: 30px;
    top: 15px;
    left: 10px;
    cursor: pointer;
}

#header .title {
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
}

/** ---------- CONTAINER ---------- */
#container {
    width: 360px;
}
/** ---------- CONTENT ---------- */
#container #content {
    width: 360px;
}
/** logo */
#container #content .logo {
    margin: 80px 0 30px 0;
    text-align: center;
}
#container #content .logo img {
    width: 120px;
    height: 120px;
}

/** form */
/** ID */
#container #content #login .id_group {
    padding-bottom: 10px;
    font-size: 0;
    vertical-align: bottom;
    text-align: center;
}
#container #content #login .id_group .id_logo {
    display: inline-block;
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 10% 0 0 10%;
}
#container #content #login .id_group .id_logo i {
    display: block;
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 8px;
}
#container #content #login .id_group .id_input {
    display: inline-block;
}
#container #content #login .id_group a {
    display: block;
    height: 20px;
    z-index: 10;

}
#container #content #login .id_group .id_input .user_id {
    width: 170px;
    height: 35px;
    border: 2px solid #ddd;
    border-radius: 0 5px 5px 0;
}

/** PASSWORD */
#container #content #login .pw_group {
    font-size: 0;
    text-align: center;
}
#container #content #login .pw_group .pw_logo {
    display: inline-block;
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 10% 0 0 10%;
    vertical-align: bottom;
}
#container #content #login .pw_group .pw_logo i {
    display: block;
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}
#container #content #login .pw_group .pw_input {
    display: inline-block;
}
#container #content #login .pw_group .pw_input .user_pw {
    width: 170px;
    height: 35px;
    border: 2px solid #ddd;
    border-radius: 0 5px 5px 0;
}

/** ERROR message */
#container #content #errmsg {
    display: block;
    width: 210px;
    height: 55px;
    margin: 10px auto;
}
#container #content #errmsg span {
    display: none;
    text-align: right;
    width: 210px;
    font-size: 8px;
    font-weight: bold;
    color: red;
}

/** LOGIN button */
#container #content #login #btn_group {
    padding-bottom: 10px;
    text-align: center;
}
#container #content #login #btn_group .btn_login {
    width: 100px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: black;
    border-radius: 5px;
    border: 1px solid black;
}

/** JOIN link */
#container #content #login #join_group {
    text-align: center;
}
#container #content #login #join_group .join {
    font-size: 12px;
    color: gray;
    text-align: center;
}
