/**
 * @filename    : style.css
 * @author      : 양수원 (ysw7939@gmail.com)
 * @description : 사이드 메뉴 스타일 적용 코드 모음
 */

/* NAV_BAR */
a {
    color: #fff; 
    text-decoration: none; 
    outline: none
}

#side_menu_bar {
    z-index: 10;
    max-width: 290px;
    width: 290px;
    background-color: rgb(0,0,0);
    color: #fff;
    position: absolute;
    top: 0;
    display: inline-block;
    height: 800px;
    overflow: hidden;
    transform: translateX(-105%)
}
#side_menu_bar .side_menu > li::after {
    clear: both;
    content: "";
    display: block;
    float: none;
}
#side_menu_bar .side_menu .clear::after{
    clear: both;
    content: "";
    display: block;
    float: none;

}
#side_menu_bar .side_menu .clear{
    position: relative;
}

#side_menu_bar .side_menu li img {
    height: 20px;
    width: 20px;
    float: right;
    position: relative;
    cursor: pointer;
    margin: 16px;
}
.side_menu_bar_active{
    transform: translateX(0%) !important;
}
#side_menu_bar .side_menu {
    list-style: none;
    position: relative;
    padding: 0px;
}
#side_menu_bar .side_menu > li {
    padding: 0 10px;
}
#side_menu_bar .side_menu > li > a {
    padding: 16px;
    display: block;
    float: left;
}
#side_menu_bar .clear > a {
    padding: 16px;
    display: block;
    float: left;
}

/* dropdwon_menu */
#side_menu_bar .dropdown_menu {
    list-style: none;
    padding: 0;
    position: relative;
    transform: translateX(-100%);
    visibility: hidden;
    height: 0px;
}
#side_menu_bar .dropdown_menu li {
    width: 230px;
    height: 16px;
    padding: 7px 7px 14px 30px;
}
#side_menu_bar #dropdown_menu_active {
    transform: translateX(0%);
    visibility: visible;
    height: 185px;
} 

/* x_button */
#side_menu_bar .x_button {
    position: relative;
    height: 30px;
}
#side_menu_bar .x_button img{
    display: block;
    width: 100%;
}
#side_menu_bar .x_button a{
    height: 20px;
    width: 20px;
    float: right;
    margin: 20px 20px;
    position: relative;
    cursor: pointer;
}

/* logout */
#logout {
    position: fixed;
    bottom: 15px;
}
#logout a {
    color: #9f9f9f;
}
