/** ---------- ALL ---------- */
html body {
    width: 360px;
    height: auto;
    margin: 0 auto;
}
#wrap {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}
#wrap::-webkit-scrollbar {
    display: none;
}
/** ---------- HEADER ---------- */
#header {
    width: 360px;
    padding: 10px 0;
    border-width: 350px;
    border-bottom: 1px solid gray;
    position: relative;
}
#header .hamburger_icon {
    float: left;
    height: 30px;
    width: 30px;
    position: absolute;
    top:15px;
    left: 10px;
    cursor: pointer;
}

#header .hamburger_icon img {
    width:100%;
    display: block;
}

#header .title {
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
}


/* form */
.join_form{
    margin: auto;
    margin-top: 30px;
    width: 330px;
    position:relative;
}

.join_form a {
    width: 300px;
    padding: 10px;
    display: block;
    font-size: 16px;
    font-weight: bold;
}
.join_form input{
    padding: 0;
    height: 35px;
    width: 310px;
    margin: 0 10px 10px 10px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #000;
}
.join_button_wrap .join_submit{
    width: 315px;
    height: 45px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: black;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #000;
    padding:0px;
    
}
.join_button_wrap {
    margin-top: 30px;
    text-align: center;
}

/** ERROR message */
.error_text{
    margin: -8px 9px;
    font-size: 8px;
    color: red;    
    display: none;
    float: right
}





