/**
 * @filename    : style_inquiry_detail_after.css
 * @author      : 한송희 (onee.ssong@gmail.com)
 * @description : Grandjeju 1:1 문의 상세 페이지(답변 후)의 스타일 적용 코드 모음
 */

@charset "UTF-8";

/** 본문 */
#container #content .main_group .answer_group {
    padding-top: 10px;
    border-top: 1px solid gray;
}
#container #content .main_group .answer_group .answer_text {
    font-size: 12px;
    line-height: 20px;
}

/** button */
#container #content .btn_group .btn_delete {
    width: 60px;
    height: 35px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: 1px solid black;
}