/**
 * @filename    : style_reservation.css
 * @author      : 한송희 (onee.ssong@gmail.com)
 * @description : 유저 페이지 공통 스타일 적용 코드 모음
 */

 @charset "UTF-8";

/** ---------- ALL ---------- */
body {
    min-width: 360px;
    max-width: 820px;
    margin: 0 auto;
}

body::-webkit-scrollbar {
    display: none;
}

* {
    font-family: 'Nanum Gothic', sans-serif;
}

/** ---------- wrap ---------- */
#wrap {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 auto;
    min-height: 800px;
}

#wrap::-webkit-scrollbar {
    display: none;
}

#container {
    margin: 80px auto;
    width: 80%;
    min-width: 360px;
    max-width: 820px;
}

/** sweetalert */
.swal-modal {
    width: 250px;
    height: 150px;
    background-color: white;
    border: 2px solid black;
  }
.swal-text {
    font-size: 13px;
    color: black;
    text-align: center;
}
.swal-footer {
    overflow: hidden;
    text-align: center;
  }
.swal-button {
    display: block;
    background-color: black;
    color: white;
    font-size: 12px;
    margin: 0 auto;
    padding: 0;
    width: 70px;
    height: 43px;
}