/**
 * @filename    : header_style.css
 * @author      : 한송희 (onee.ssong@gmail.com)
 * @description : Grandjeju 사이트의 header 스타일 공통 적용 코드 모음
 */

/** ---------- HEADER ---------- */

#header {
    width: 100%;
    max-width: 820px;
    height: 60px;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.85);
    border-width: 350px;
    border-bottom: 1px solid gray;
    z-index: 5;
}

#header .hamburger_icon {
    float: left;
    height: 30px;
    width: 30px;
    position: absolute;
    top:15px;
    left: 10px;
    cursor: pointer;
}

#header .hamburger_icon img {
    width: 100%;
    display: block;
}

#header .title {
    font-size: 24px;
    text-align: center;
    margin: 13px auto;
    font-weight: bold;
}