/**
 * @filename    : style_about.css
 * @author      : 한송희 (onee.ssong@gmail.com)
 * @description : Grandjeju 펜션 정보 페이지의 스타일 적용 코드 모음
 */

@charset "UTF-8";

/** ---------- ALL ---------- */
body {
    width: 360px;
    margin: 0 auto;
}

body::-webkit-scrollbar {
    display: none;
}

/** ---------- wrap ---------- */
#wrap {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 740px;
}

#wrap::-webkit-scrollbar {
    display: none;
}

/** ---------- HEADER ---------- */
#header {
    width: 360px;
    padding: 10px 0;
    border-width: 350px;
    border-bottom: 1px solid gray;
}

#header .hamburger_icon {
    width: 30px;
    height: 30px;
}

#header .hamburger_icon img {
    display: block;
    float: left;
    height: 30px;
    width: 30px;
    top: 15px;
    left: 10px;
    cursor: pointer;
}

#header .title {
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
}

/** ---------- CONTAINER ---------- */
#container {
    width: 360px;
}
/** ---------- CONTENT ---------- */
#container #content {
    width: 360px;
}
