/**
 * @filename    : style_login.css
 * @author      : 한송희 (onee.ssong@gmail.com)
 * @description : Grandjeju 로그인 페이지의 스타일 적용 코드 모음
 */

@charset "UTF-8";

/** ---------- CONTENT ---------- */
#container #content {
    width: 90%;
    margin: 0 auto;
}

/** ALL */
#container #content h3 {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 10px;
}

/** Table Style */
#container #content table {
    width: 100%;
    font-size: 13px;
    text-align: center;
    border: 2px solid gray;
    margin: 0 auto;
    border-collapse: collapse;
}
#container #content th {
    height: 35px;
    background-color: #ddd;
    border: 1px solid gray;
}
#container #content tr td {
    height: 35px;
    border: 1px solid gray;
}

/** plus span */
#container #content .room_info_group .plus {
    font-size: 12px;
    color: #333;
}

/** 객실 요금 테이블 */
#container #content .room_fee_group {
    padding-bottom: 40px;
}

/** 공지사항 요소들 css */
#container #content p {
    letter-spacing: -0.8px;
    font-size: 11px;
    color: #333;
}

#container #content .room_notice {
    border-top: 1px solid gray;
}

/** 예약하기 버튼 */
#container #content .btn_group {
    padding: 20px 0 30px 0;
}
#container #content .btn_group button {
    display: block;
    width: 95%;
    height: 55px;
    background-color: black;
    color: white;
    border-radius: 5px 5px 5px 5px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    border: none;
}