/** ---------- CONTAINER ---------- */

/** content 항목들의 ALL */
#container h3 {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 10px;
}
#container p {
    font-size: 12px;
    color: #222;
    margin: 10px 0;
    letter-spacing: -0.8px;
}
#container img {
    border-radius: 5px;
}

#container .section  {
    margin-left: 10px;
}
#container .section h3{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 0px;
}
#container .section p{
    margin: 5px;
    letter-spacing: -0.8px;
}

#container .content1 img {
    width: 280px;
    height: 200px;
    margin: auto;
    display: block;
}

#container .content2 {
    padding-bottom: 20px;
    border-bottom: 1px solid #999;
}

#container .content3 p:last-child{
    font-size: 8px;
}


.swiper-wrapper img {
    width: 310px;
    height: 200px;
    display: block;
    margin: auto;
}
.swiper-pagination-bullet-active {
    background-color: #000 !important;
}

.swiper-button-next, .swiper-button-prev {
    --swiper-navigation-size: 30px;
    --swiper-theme-color: #000;
}
