/**
 * @filename    : style_mymodify.css
 * @author      : 양수원 (ysw7939@gmail.com)
 * @description : Grandjeju 내 정보 수정의 스타일 적용 코드 모음
 */


/* form */
.modify_form{
    margin: auto;
    margin-top: 30px;
    width: 330px;
    position:relative;
}

.modify_form a {
    width: 300px;
    padding: 10px;
    display: block;
    font-size: 16px;
    font-weight: bold;
}
.modify_form input{
    padding: 0;
    height: 35px;
    width: 310px;
    margin: 0 10px 10px 10px; 
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #000;
}
.button_wrap button{
    width: 140px;
    height: 45px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: black;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #000;
    padding:0px;
    margin: 0px 10px;
}
.button_wrap {
    margin-top: 35px;
    text-align: center;
}

/** ERROR message */
.error_text{
    margin: -8px 9px;
    font-size: 8px;
    color: red;    
    display: none;
    float: right
}

/** sweetalert */
.swal-modal {
    width: 250px;
    height: 150px;
    background-color: white;
    border: 2px solid black;
  }
.swal-text {
    font-size: 13px;
    color: black;
    text-align: center;
}
.swal-footer {
    overflow: hidden;
    text-align: center;
  }
.swal-button {
    display: block;
    background-color: black;
    color: white;
    font-size: 12px;
    margin: 0 auto;
    padding: 0;
    width: 70px;
    height: 43px;
}
