/**
 * @filename    : style_reservation_detail.css
 * @author      : 한송희 (onee.ssong@gmail.com)
 * @description : Grandjeju 예약 상세 페이지의 스타일 적용 코드 모음
 */

@charset "UTF-8";
/** ---------- CONTENT ---------- */
#container #content h3 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}

/** 객실 항목 */
#container #content .room_group {
    height: 60px;
}
#container #content .room_group .room {
    font-size: 13px;
}
/** 숙박 기간 항목 */
#container #content .date_group {
    height: 60px;
}
#container #content .date_group .select_date {
    font-size: 13px;
}
/** 인원 항목 */
#container #content .person_group {
    height: 60px;
}
#container #content .person_group .person {
    font-size: 13px;
}
/** 예약자명 항목 */
#container #content .name_group {
    height: 60px;
}
#container #content .name_group .reserv_name {
    font-size: 13px;
}
/** 예약자 연락처 항목 */
#container #content .number_group {
    height: 60px;
}
#container #content .number_group .reserv_phone {
    font-size: 13px;
}
/** 결제 금액 항목 */
#container #content .pay_group {
    height: 60px;
    padding-bottom: 30px;
}
#container #content .pay_group .pay_price {
    font-size: 13px;
    font-weight: bold;
}

/** 예약 취소 버튼 항목 */
#container .btn_group {
    display: block;
    margin: 0 auto;
}

#container .btn_group .notice {
    display: block;
    width: 90%;
    font-size: 8px;
    font-weight: bold;
    color: gray;
    margin: 0 auto;
}

#container .btn_group .btn_cancel {
    display: block;
    width: 90%;
    height: 55px;
    background-color: black;
    color: white;
    border-radius: 5px 5px 5px 5px;
    border: none;
    margin: 0 auto;

    font-size: 16px;
    font-weight: bold;
}

#container .btn_group .btn_cancel_oneday {
    display: block;
    width: 90%;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 5px 5px 5px 5px;
    border: none;
    margin: 0 auto;
}

/** 환불 관련 안내 */
#container .notice_group .notice {
    display: block;
    width: 90%;
    font-size: 8px;
    font-weight: bold;
    color: gray;
    margin: 0 auto;
    text-align: center;
}


/** sweetalert */
.swal-modal {
    width: 250px;
    height: 150px;
    background-color: white;
    border: 2px solid black;
  }
.swal-text {
    font-size: 14px;
    color: black;
    text-align: center;
}
.swal-footer {
    overflow: hidden;
    text-align: center;
  }
.swal-button {
    display: block;
    background-color: black;
    color: white;
    font-size: 12px;
    margin: 0 auto;
    padding: 0;
    width: 70px;
    height: 43px;
}