/**
 * @filename    : style_about.css
 * @author      : 한송희 (onee.ssong@gmail.com)
 * @description : Grandjeju 펜션 정보 페이지의 스타일 적용 코드 모음
 */

@charset "UTF-8";

/** ---------- ALL ---------- */
body {
    width: 360px;
    margin: 0 auto;
}

body::-webkit-scrollbar {
    display: none;
}

/** ---------- wrap ---------- */
#wrap {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 740px;
}

#wrap::-webkit-scrollbar {
    display: none;
}

/** ---------- HEADER ---------- */
#header {
    width: 360px;
    padding: 10px 0;
    border-width: 350px;
    border-bottom: 1px solid gray;
    position: relative;
}
#header .hamburger_icon {
    float: left;
    height: 30px;
    width: 30px;
    position: absolute;
    top:15px;
    left: 10px;
    cursor: pointer;
}

#header .hamburger_icon img {
    width:100%;
    display: block;
}

#header .title {
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
}

/** ---------- CONTAINER ---------- */
#container {
    width: 360px;
}
/** ---------- CONTENT ---------- */
#container #content {
    width: 330px;
    margin: 0 auto;
}

/** content 항목들의 ALL */
#container #content h3 {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 0;
}

#container #content p {
    font-size: 12px;
    color: #222;
    margin: 10px 0;
}

#container #content img {
    border-radius: 5px;
}

/** 위치 정보 */
#container #content .location {
    margin-top: 40px;
    border-top: 1px solid gray;
}

#container #content .location h3 {
    margin-top: 40px;
}

#container #content .location #map {
    width: 330px;
    height: 180px;
    margin-bottom: 30px;
    border: 3px solid gray;
    border-radius: 5px;
}
