/**
 * @filename    : style_inquiry_detail.css
 * @author      : 한송희 (onee.ssong@gmail.com)
 * @description : Grandjeju 1:1 문의 상세 페이지의 스타일 적용 코드 모음
 */

@charset "UTF-8";
/** ---------- CONTENT ---------- */

/** 제목 */
#container #content .title_group {
    padding: 10px 5px;
}
#container #content .title_group span {
    font-size: 18px;
    font-weight: bold;
}

/** 작성자 이름 및 작성 날짜 */
#container #content .writer_group {
    padding: 0 5px 10px 5px;
    border-bottom: 1px solid gray;
}
#container #content .writer_group span {
    font-size: 12px;
}

/** 본문 */
#container #content .main_group {
    margin: 0 auto;
    padding-bottom: 30px;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
}
#container #content .main_group h4 {
    padding: 0 5px;
}
#container #content .main_group .ask_group {
    padding-top: 10px;
    padding-bottom: 20px;
}
#container #content .main_group .ask_group .inquiry_text {
    width: 95%;
    margin: 0 auto;
    font-size: 13px;
    line-height: 20px;
}

#container #content .main_group .answer_group {
    padding-top: 10px;
    border-top: 1px solid gray;
}
#container #content .main_group .answer_group .no_answer {
    color: #ccc;
    font-weight: bold;
}
#container #content .main_group .answer_group .answer_text {
    width: 95%;
    margin: 0 auto;
    font-size: 13px;
    line-height: 20px;
}

/** 버튼 */
#container #content .btn_group {
    float: right;
    padding: 10px 0;
    padding-right: 5px;
}
#container #content .btn_group .btn_modify {
    width: 60px;
    height: 35px;
    background-color: black;
    color: white;
    border-radius: 5px 0 0 5px;
    border: 1px solid black;
    margin-right: -4px;
}
#container #content .btn_group .btn_modify a, .btn_delete a {
    color: white;
    text-decoration: none;
}
#container #content .btn_group .btn_delete {
    width: 60px;
    height: 35px;
    background-color: black;
    color: white;
    border-radius: 0 5px 5px 0;
    border: 1px solid black;
}

#container #content .btn_group .btn_delete_after {
    width: 60px;
    height: 35px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: 1px solid black;
}