/**
 * @filename    : style_inquiry.css
 * @author      : 한송희 (onee.ssong@gmail.com)
 * @description : Grandjeju 1:1 문의 작성 페이지의 스타일 적용 코드 모음
 */

@charset "UTF-8";
/** ---------- CONTENT ---------- */
/** 제목 input */
#container #content #review_write .title_group {
    padding-bottom: 10px;
    margin-top: 25px;
}
#container #content #review_write .title_group input {
    width: 80%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid gray;
}
/* 파일 업로드 input */
#container #content #review_write .upload_group {
    display: inline-block;
    padding: 0.5em 0.75em;
    color: #000;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid #222;
    border-bottom-color: #222;
    border-radius: 0.25em;
    margin-top: 10px;
}
.upload_group input[type="file"] {
    /* 파일 필드 숨기기 */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/** 등록 btn */
#container #content #review_write .btn_group {
    float: right;
    padding: 10px 0;
}
#container #content #review_write .btn_group .btn_write {
    width: 60px;
    height: 35px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: 1px solid black;
}

/** sweetalert */
.swal-modal {
    width: 250px;
    height: 150px;
    background-color: white;
    border: 2px solid black;
}
.swal-text {
    font-size: 13px;
    color: black;
    text-align: center;
}
.swal-footer {
    overflow: hidden;
    text-align: center;
}
.swal-button {
    display: block;
    background-color: black;
    color: white;
    font-size: 12px;
    margin: 0 auto;
    padding: 0;
    width: 70px;
    height: 43px;
}
