/**
 * @filename    : my_style.css
 * @author      : 양수원 (ysw7939@gmail.com)
 * @description : Grandjeju 마이 페이지의 스타일 적용 코드 모음
 */

 /** ALL */
 .history {
    padding: 15px 0;
 }
 .history a {
    color: black;
    text-decoration: none;
}
 #container {
     width: 100%;
 }

/* user */
#content .user_wrap {
    position: relative;
    height: 220px;
    border-bottom: 1px solid #666;
}

#content .user_wrap .setting {
    position: absolute; 
    right : 10px;  
    width: 25px;
    height: 25px;
}
#content .user_wrap .setting img{
    width: 100%;
}

#content .user_wrap .user_img {
    position: absolute;
    top: 50px;
    width: 100%;
    text-align: center;
}
#content .user_wrap .user_img img {
    width: 80px;
    height: 80px;
}

#content .user_wrap h3 {
    position: absolute;
    top : 130px;
    width:100%;
    text-align: center;
}

/* tabs */
#tabs:after {
    clear: both;
    float: none;
    display: block;
    content: "";
}
#tabs .tab_three {
    float: left;
    width: 33.3333%;
    text-align: center;
    height: 50px;

}
#tabs .tab_three span{
    display: block;
    padding-top: 12px;
    font-weight: bold;
 
}
#tabs .tab_three a {
    display : block;
    width: 100%;
    height: 90%;
    border-right: 1px solid #999;  
    border-bottom: 4px solid #999;
}
#tabs .tab_three .default {
    border-bottom: 4px solid #000;
}

/* tab_content*/
.tab_content {
    margin-bottom: 20px;
}

/* reserve */
#reserv {
    width: 90%;
    margin: auto;
    margin-top:25px;
}
#reserv .history {
    border: 2px solid #000;
    border-radius: 10px 10px 10px 10px;
    margin-top: 15px;
}
#reserv .history a {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}
#reserv .history img {
    position: absolute;
    right: 10px;
    top: 15px;
    width: 25px;
    height: 25px;
}

#reserv .history h3 {
    margin: 0 10px;
    margin-bottom: 5px;
}

#reserv .history span {
    display: block;
    margin: 3px 0px 0px 10px;
    font-size: 10px;
}

#reserv .history span:last-child {
    margin-bottom: 10px;
}

#reserv .history .stay_date span {
    display: inline;
}

#reserv .history .stay_date span:last-child {
    margin: 0;
}

/* inquiry */
#inquiry {
    height: 300px;
    width: 90%;
    margin: auto;
    margin-top:25px;
}
#inquiry .history {
    border: 2px solid #000;
    border-radius: 10px 10px 10px 10px;
    margin-top: 15px;
    padding: 20px 0;
}
#inquiry .history a {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}
#inquiry .history img {
    position: absolute;
    right: 10px;
    top: 14px;
    width: 25px;
    height: 25px;
}

#inquiry .history h3 {
    margin: 10px;
    margin-bottom: 5px;
    font-size: 14px;
}

#inquiry .history span {
    display: block;
    margin: 3px 0px 0px 10px;
    font-size: 10px;
}

#inquiry .history span:last-child {
    margin-bottom: 10px;
}

#inquiry .history .pluse {
    width: 100%;
    display: inline-block;
    height: 73px;
}
#inquiry .history .pluse img {
    position: static;
    margin: auto;
    margin-top: 21px;
    display: block;
    width: 35px;
    height: 35px;
}

/* review */
#review {
    height: 300px;
    width: 90%;
    margin: auto;
    margin-top:25px;
}
#review .history {
    border: 2px solid #000;
    border-radius: 10px 10px 10px 10px;
    margin-top: 15px;
}
#review .history a {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}
#review .history img {
    position: absolute;
    right: 10px;
    top: 6px;
    width: 25px;
    height: 25px;
}

#review .history h3 {
    margin: 10px;
    margin-bottom: 5px;
    font-size: 14px;
}

#review .history span {
    display: block;
    margin: 3px 0px 0px 10px;
    font-size: 10px;
}

#review .history span:last-child {
    margin-bottom: 10px;
}

.none {
    display: none;
}